<card-container Titulo="Bolsas" Imagen="../../../../Content/images/bgcards/productos.bolsas.jpg">
      <div fxLayout="column" fxFlex>
        <p>
          Confeccionamos una gran variedad de bolsas de plástico, desde las más básicas de sello lateral y de fondo, banda de adhesivo permanente y removible, combinación de micro y macro perforaciones y combinación de materiales hasta stand-up pouches con zipper y cierres de Velcro*, bolsas de tres y cuatro sellos, bolsas de sello en cuatro aristas, válvulas unidireccionales, etc.
        </p>
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages1"></ngx-gallery>

        <hr />

        <h3>Stand-up Pouches</h3>
        <p>El empaque de mayor crecimiento en el mercado de envases flexibles por sus características estéticas, por su facilidad de manejo para almacenamiento, transporte y exhibición y la comodidad del usuario. Excelente para contener líquidos, polvos, granulados, etc. Se utiliza tanto para alimentos como para productos industriales.</p>
        <p>Impresionantes gráficos hasta en diez colores, alta definición (HD) con la posibilidad de impresiones sobre películas metalizadas a registro con áreas transparentes atraen las miradas de los compradores sobre el producto distinguiéndolos de sus competidores.</p>
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages2"></ngx-gallery>

        <hr />

        <h3>Bolsas de Rafia laminadas con BOPP impreso</h3>
        <p>Una estructura de rafia tejida de muy alta resistencia mecánica y bajo peso laminada a una película de BOPP con impresionantes gráficos es preferida por las marcas más importantes de alimentos para mascotas y muchos otros productos que regularmente se presentan en los supermercados en cantidades de 10 a 25 kgs.</p>
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages3"></ngx-gallery>

        <hr />

        <h3>Bolsas para café</h3>
        <p>Confeccionadas con estructuras formuladas para la protección del producto y con superficies mate, metalizadas o sin metalizar resultan un empaque especialmente atractivo donde luce espectacular la impresión en flexografía hasta en diez colores.</p>
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages4"></ngx-gallery>

        <h3>Bolsas Especiales</h3>
        <p>Diseñar empaques para clientes con especificaciones diferentes a lo que existe en el mercado es una operación de rutina en Excel Nobleza y un reto que nos hace sentir que cumplimos con nuestra Misión.</p>
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages5"></ngx-gallery>

      </div>
</card-container>