<card-container Titulo="Etiquetas" Imagen="../../../../Content/images/bgcards/productos.etiquetas.jpg">
  <div fxLayout="column" fxFlex>
    <p>
      Al igual que todos los productos impresos de Excel Nobleza las etiquetas de varios tipos que fabricamos se distinguen por la excelente impresión lograda en prensas flexográficas con la más alta tecnología y soportadas por un trabajo de pre-prensa en equipo de clase mundial.
    </p>

    <hr />

    <h3>Etiquetas tipo manga</h3>
    <p>
      Su característica principal es que no requiere adhesivo para su aplicación a la botella. Su elasticidad permite que al cesar la fuerza que la estira – mecánica o manual – la manga se retraiga y se fije a la botella por sí sola.
    </p>
    <p>
      Fabricadas en polietileno baja densidad son preferidas para envases rectangulares, ovalados y generalmente para capacidades mayores a un litro aunque por supuesto pueden utilizarse para envases más pequeños.
    </p>
    <p>
      Por la ausencia de adhesivos esta etiqueta facilita el reciclaje y por tanto favorece a la ecología.
    </p>
    <p>
      Para su uso en envases de productos industriales la impresión va recubierta con un barniz que la protege del derrame de líquidos.
    </p>
    <ngx-gallery [options]="galleryOptions" [images]="galleryImages1"></ngx-gallery>

    <hr />

    <h3>Etiquetas de BOPP en rollo</h3>
    <p>
      Estas etiquetas son las más utilizadas en el mundo para envases de refrescos y multitud de productos alimenticios e industriales. Son preferidas por los embotelladores por la alta calidad de impresión que se logra en esta película así como por sus propiedades mecánicas que permiten una muy alta velocidad en las máquinas de envasado y las ventajas económicas que ofrece.
    </p>
    <ngx-gallery [options]="galleryOptions" [images]="galleryImages2"></ngx-gallery>

    <hr />

    <h3>Etiquetas termo encogibles de PVC, OPS, PET G</h3>
    <p>
      Debido al elevado coeficiente de encogimiento estas etiquetas se adaptan al perfil -incluso formas caprichosas - de los envases y por la naturaleza de las películas utilizadas se logran impresiones sorprendentes por su calidad y brillo que pueden cubrir prácticamente toda la superficie visible del envase.
    </p>
    <p>
      Además de los materiales mencionados ofrecemos etiquetas termoencogibles de poliolefina que por su baja densidad pueden separarse con facilidad por flotación del resto del envase en el proceso de reciclaje.
    </p>
    <ngx-gallery [options]="galleryOptions" [images]="galleryImages3"></ngx-gallery>
  </div>
</card-container>