<card-container Titulo="Películas Impresas y Laminadas" Imagen="../../../../Content/images/bgcards/productos.pelicula.jpg">
  <div fxLayout="column">
    <div fxLayout="column" style="min-height:300px" fxLayoutGap="30px;" fxLayoutAlign="center center">
      <div fxLayout="column" fxFlex>
        <p>
          Excelentes impresiones en flexografía de alta definición (HD) y punto plano hasta en diez colores y 1270 mm de ancho sobre películas de BOPP, polipropileno cast, PET y polietileno ; laminaciones con solventes, sin solventes y por extrusión.
        </p>
        <p>
          Impresión en rotograbado hasta ocho colores y 1000 mm de ancho.
        </p>
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
      </div>
    </div>
  </div>
</card-container>