<card-container Titulo="Polietileno Termoencogible Impreso" Imagen="../../../../Content/images/bgcards/productos.pelicula.jpg">
  <div fxLayout="column" fxFlex>
    <p>
      Alta transparencia, excelente impresión, encogimiento preciso de acuerdo a las especificaciones del cliente y nuestra capacidad de imprimir hasta una longitud de 1200 mm han marcado una favorable diferencia para Excel Nobleza en un mercado de alta competencia.
    </p>
    <p>
      Este producto, utilizado para agrupar un número de botellas, latas u objetos en general, es el reemplazo ideal para sustituir el cartón – mucho más costoso – por cuestión de espacio e impermeabilidad.
    </p>
    <ngx-gallery [options]="galleryOptions" [images]="galleryImages1"></ngx-gallery>
  </div>
</card-container>
