<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ControlNominasAddIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ControlNominasAddIn.Properties.Settings.Reloj1ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=\\192.168.1.251\db\NITGENDBAC.mdb; Jet OLEDB:Database Password=nac3000"
            providerName="System.Data.OleDb" />
        <add name="ControlNominasAddIn.Properties.Settings.Reloj2ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=\\192.168.1.251\Config\ZKT\att2000.mdb"
            providerName="System.Data.OleDb" />
        <add name="ControlNominasAddIn.Properties.Settings.PermisosConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=\\192.168.1.253\Temp\Fto_PLREGI_Fto\BDO\P3.mdb; Jet OLEDB:Database Password=EXCEL2016" />
        <add name="ControlNominasAddIn.Properties.Settings.RelojSQL1ConnectionString"
            connectionString="Data Source=192.168.1.47;Initial Catalog=NitgenAccessManager;Persist Security Info=True;User ID=consultas;Password=rootExcel"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <ControlNominasAddIn.Properties.Settings>
            <setting name="claveChofer" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Sparkle - Blue</value>
            </setting>
        </ControlNominasAddIn.Properties.Settings>
    </userSettings>
</configuration>