<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ExcelNoblezaControlProduccion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <connectionStrings>
    <add name="ProduccionConexion" providerName="MySql.Data.MySqlClient" connectionString="server=192.168.1.248;port=3306;database=Production;uid=root;password=hsj43295;"/>
  </connectionStrings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
    
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6"></provider>
    </providers>
  </entityFramework>
    
      
  <userSettings>
    <ExcelNoblezaControlProduccion.Properties.Settings>
      <setting name="ActivarEnvio" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BasculaActivarEnvio" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BasculaBaudRate" serializeAs="String">
        <value>9600</value>
      </setting>
      <setting name="BasculaCaracterFinLinea" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="BasculaconectarAlIniciar" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BasculaFin" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="BasculaInicio" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="BasculaIntervalo" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="BasculaPuerto" serializeAs="String">
        <value>COM3</value>
      </setting>
      <setting name="BasculaReadTimeOut" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="BasculaShowUnidad" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BasculaTextoAEnviar" serializeAs="String">
        <value />
      </setting>
      <setting name="BasculaUnidad" serializeAs="String">
        <value>kg</value>
      </setting>
      <setting name="Theme_Silver_Active" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Theme_Dark_Active" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Theme_Blue_Active" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PersistenceLayout" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BasculaColor" serializeAs="String">
        <value>Teal</value>
      </setting>
      <setting name="mainFormWindowsState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="mainFormSize" serializeAs="String">
        <value>960, 570</value>
      </setting>
      <setting name="mainFormLocation" serializeAs="String">
        <value>50, 50</value>
      </setting>
      <setting name="mainformHasSetDefaults" serializeAs="String">
        <value>False</value>
      </setting>
    </ExcelNoblezaControlProduccion.Properties.Settings>
  </userSettings>
</configuration>