.main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.plain{
  box-shadow: 0 0 0 0 !important;
}
mat-expansion-panel-header{
  padding-left: 16px;
  & fa-icon{
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    font-size: 24px!important;
    box-sizing: content-box;
    border-radius: 50%;
    padding: 4px;
  }
  & h4{
    padding-left: 16px;
    padding-right: 0px;
    margin-top: auto;
    margin-bottom: auto;
  }
}
