<card-container Titulo="Innovaciones" Imagen="../../../../Content/images/bgcards/productos.pelicula.jpg">
  <div fxLayout="column" fxFlex>
    <h3>METREX* - Impresión sobre Metalizado con áreas transparentes</h3>
    <p>
      Excel Nobleza es la única empresa de empaques flexibles en México que ofrece un proceso que combina el incomparable brillo de una película metalizada con áreas transparentes en perfecto registro con una excelente impresión hasta en diez colores que atrae la mirada y atención de los compradores permitiéndoles ver el contenido.
    </p>
    <ngx-gallery [options]="galleryOptions" [images]="galleryImages1"></ngx-gallery>

    <hr />

    <h3>STICKFREE</h3>
    <p>
      Esta película vino a resolver el problema de que no era posible reunir con una película termoencogible dos o más paquetes que a su vez ya estaban agrupados con una película similar sin que se pegaran las dos capas de plástico.
    </p>
    <p>
      El Stickfree de Excel Nobleza logra perfectamente el objetivo sin que por el efecto del calor tenga la menor adherencia a otro plástico
    </p>
    <ngx-gallery [options]="galleryOptions" [images]="galleryImages2"></ngx-gallery>
  </div>
</card-container>