// @import '~@angular/material/theming';

// @include mat-core();

// $component-primary: mat-palette($mat-indigo);
// $component-accent:  mat-palette($mat-orange, A200, A100, A400);
// $component-warn:    mat-palette($mat-red);

// $component-theme: mat-dark-theme($component-primary, $component-accent, $component-warn);

// @mixin custom-components-theme($theme) {

//   $foreground: map-get($theme, foreground);
//   $background: map-get($theme, background);
//   $primary: map-get($theme, primary);
//   $accent: map-get($theme, accent);
//   $warn: map-get($theme, warn);

//   mat-nav-list a.active-link-list2 {
//     background-color: mat-color($primary);
//     color: mat-color($primary, default-contrast);
//   }

// }

// @include custom-components-theme($component-theme);

.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  flex: 1 0 auto;
}

.example-sidenav {
  width: 200px;
}

.example-sidenav-content {
  padding: 10px;
}