 <div class="example-container">
    <mat-toolbar color="primary" class="example-toolbar mat-elevation-z20">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="example-app-name">Responsive App</h1>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" style.marginTop.px="56">
        <mat-sidenav  #snav mode="side" class="example-sidenav mat-elevation-z10" fixedTopGap="56">         
            <nav-menu></nav-menu>   
        </mat-sidenav>
        <mat-sidenav-content class="example-sidenav-content">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>