<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DumpMySQL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DumpMySQL.Properties.Settings.PrincipalDatabase" connectionString="server=192.168.1.248;user id=root;password=hsj43295;persistsecurityinfo=True;database=production" providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
    <userSettings>
        <DumpMySQL.Properties.Settings>
            <setting name="mysqldumpPath" serializeAs="String">
                <value>C:\Program Files (x86)\MySQL\MySQL Server 5.5\bin</value>
            </setting>
            <setting name="backupDir" serializeAs="String">
                <value>C:\bkMysql</value>
            </setting>
            <setting name="errorLogPath" serializeAs="String">
                <value>C:\bkMysql\dumperrors.txt</value>
            </setting>
            <setting name="retaindays" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Email" serializeAs="String">
                <value/>
            </setting>
            <setting name="portEmail" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="serverEmail" serializeAs="String">
                <value/>
            </setting>
            <setting name="pEmail" serializeAs="String">
                <value/>
            </setting>
            <setting name="sendEmail" serializeAs="String">
                <value>False</value>
            </setting>
        </DumpMySQL.Properties.Settings>
    </userSettings>
</configuration>
