@inherits NavLink
@inject IJSRuntime JS

<a @attributes=@AdditionalAttributes class="@CssClass" @onclick:preventDefault>
    @ChildContent
</a>

@code{
    [Parameter]
    public Action IsOpenedMenuOnInit { get; set; }



    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && CssClass.Contains("active"))
        {
            await Task.Delay(100);
            IsOpenedMenuOnInit?.Invoke();
        }
    }


}
