<div class="outlet-content">
  <my-card CardColor="primary" [Titulo]="'Tintas'" [Descripcion]="'Se muestran los tipos de tintas disponibles.'" Icono="tint"
    [HasFontawesomeIcon]="true" [ShowPrint]="true" [ShowAdd]="isAdmin ? true : false" (ClickAdd)="AddOrEdit()">

    <div my-card-content style="overflow: auto;">
      <mat-table multiTemplateDataRows [dataSource]="catalogPage.Items" style="min-width: 900px;" matSort
        (matSortChange)="catalogosService.emitSort($event, this.pagConfig);">
        <!-- Crea las columnas con datos desde el servidor -->
        <ng-container *ngFor="let column of columsToView()">
          <ng-container *ngIf="column.db && !column.sortable" matColumnDef="{{column.column}}">
            <mat-header-cell *matHeaderCellDef [fxFlex]="column.flex"> {{column.text}} </mat-header-cell>
            <mat-cell *matCellDef="let element" [fxFlex]="column.flex">
              <ng-container [ngSwitch]="column.type">
                <ng-container *ngSwitchCase="'currency'">
                  {{element[column.columnToShow] | currency:'MXN'}}
                </ng-container>
                <ng-container *ngSwitchCase="'date'">
                  {{element[column.columnToShow] | date}}
                </ng-container>
                <ng-container *ngSwitchDefault>
                  {{element[column.columnToShow]}}
                </ng-container>
              </ng-container>
            </mat-cell>
          </ng-container>

          <ng-container *ngIf="column.db && column.sortable" matColumnDef="{{column.column}}">
            <mat-header-cell mat-sort-header *matHeaderCellDef [fxFlex]="column.flex"> {{column.text}}
            </mat-header-cell>
            <mat-cell *matCellDef="let element" [fxFlex]="column.flex">
              <ng-container [ngSwitch]="column.type">
                <ng-container *ngSwitchCase="'currency'">
                  {{element[column.columnToShow] | currency:'MXN'}}
                </ng-container>
                <ng-container *ngSwitchCase="'date'">
                  {{element[column.columnToShow] | date}}
                </ng-container>
                <ng-container *ngSwitchDefault>
                  {{element[column.columnToShow]}}
                </ng-container>
              </ng-container>
            </mat-cell>
          </ng-container>
        </ng-container>

        <!-- Control de acciones -->
        <ng-container matColumnDef="ActionEdit">
          <mat-header-cell class="noprinted" *matHeaderCellDef fxFlex="150px"> Acciones </mat-header-cell>
          <mat-cell class="noprinted" *matCellDef="let row" fxFlex="150px">
            <ng-container *ngIf="!isAdmin">
              <div fxLayout="row" fxFlex="100%" fxLayoutAlign="center center">

                <mat-icon>cancel</mat-icon>
              </div>
            </ng-container>
            <ng-container *ngIf="isAdmin">
              <button class="orange-fg" mat-icon-button (click)="AddOrEdit(row)">
                <mat-icon>edit</mat-icon>
              </button>
            </ng-container>
          </mat-cell>
        </ng-container>


        <!-- Definicion de filas y columnas -->
        <mat-header-row *matHeaderRowDef="columns()"></mat-header-row>
        <mat-row *matRowDef="let material; columns: columns();"></mat-row>
      </mat-table>
      <mat-progress-bar color="accent" *ngIf="isLoading" mode="query"></mat-progress-bar>
    </div>


    <div my-card-footer>
      <mat-paginator [length]="catalogPage.TotalCount" [pageIndex]="pagConfig.pageNumber - 1" [pageSize]="10"
        [pageSizeOptions]="[10,25,50,75,100]" (page)="catalogosService.emitPaginator($event, pagConfig)">
      </mat-paginator>
    </div>

  </my-card>
</div>
