<?xml version="1.0" encoding="utf-8"?>
<configuration>


  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PruebaObj.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OTS.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <connectionStrings>
    <add name="Pedidos" connectionString="port number=3050;initial catalog=PEDIDOS.FDB;data source=192.168.1.254;dialect=3;user id=SYSDBA;password=excelnobleza2016;server type=Default" />
    <add name="OTS.MySettings.ProduccionOts" connectionString="data source=192.168.1.254;initial catalog=PRODUCCION.FDB;user id=SYSDBA;password=excelnobleza2016" providerName="FirebirdSql.Data.FirebirdClient" />
    <add name="ProduccionConexion" providerName="MySql.Data.MySqlClient" connectionString="server=192.168.1.248;port=3306;database=Production;uid=root;password=hsj43295;" />
    <add name="ProduccionConexionDebug" providerName="MySql.Data.MySqlClient" connectionString="server=192.168.1.248;port=3306;database=ProductionDebug;uid=root;password=hsj43295;" />
    <add name="TRYINTELISISSELECTCTL.Properties.Settings.CapacitaExcelNConnectionString" connectionString="Data Source=192.168.1.253;Initial Catalog=ExcelNobleza; Persist Security Info=True;User ID=consultasql;Password=ConsultaERP17" providerName="System.Data.SqlClient" />

  </connectionStrings>


  <appSettings>
    <add key="PathBD" value="192.168.1.254" />
    <add key="BDNombre" value="PEDIDOS.FDB" />
    <add key="USER" value="SYSDBA" />
    <add key="Pass" value="excelnobleza2016" />
    <add key="Port" value="3050" />
  </appSettings>
  <applicationSettings>
    <OTS.MySettings>
      <setting name="PathReports" serializeAs="String">
        <value>\\192.168.1.61\DBETIQUETAS\Reports\OT</value>
      </setting>
    </OTS.MySettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6"></provider>
    </providers>
  </entityFramework>


  <runtime>


    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">


      <dependentAssembly>


        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-8.0.12.0" newVersion="8.0.12.0" />


      </dependentAssembly>


    </assemblyBinding>


  </runtime>
</configuration>