<!DOCTYPE html>
<html ng-app="apiTestApp">
<head>
  <title>Api</title>
  <link rel="stylesheet" href="~/bower_components/bootstrap/dist/css/bootstrap.css" />
  <script src="~/bower_components/angular/angular.js"></script>
  <script src="~/scripts/app.js"></script>
</head>
<body ng-controller="ApiTestController" style="padding:15px">

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Method</span>
    <select ng-model="metodo" class="form-control">
      <option value="GET">GET</option>
      <option value="POST">POST</option>
      <option value="PUT">PUT</option>
      <option value="DELETE">DELETE</option>
    </select>
  </div>
  <br />
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon2">Controller</span>
    <input type="text" class="form-control" ng-model="control" />
  </div>
  <br />
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon2">JSON</span>
    <textarea type="text" class="form-control" ng-model="toSendData" ></textarea>
  </div>
  <br />
  <button type="button" class="btn btn-default" ng-click="SendData()">Send</button>
  <br>
  <br>
  <pre>http status code: {{status}}</pre>
  <pre>http response data: {{data}}</pre>
</body>
</html>
