<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ControlResiduosPeligrosos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <connectionStrings>
    <add name="ProduccionConexionDebug" providerName="MySql.Data.MySqlClient" connectionString="server=192.168.1.248;port=3306;database=ProductionDebug;uid=root;password=hsj43295;" />
    <add name="ProduccionConexion" providerName="MySql.Data.MySqlClient" connectionString="server=192.168.1.248;port=3306;database=Production;uid=root;password=hsj43295;" />
  </connectionStrings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6"></provider>
    </providers>
  </entityFramework>

  <userSettings>
    <ControlResiduosPeligrosos.Properties.Settings>
      <setting name="CorreoReceptorSalidas" serializeAs="String">
        <value>dtellez</value>
      </setting>
      <setting name="DominioCorreo" serializeAs="String">
        <value>@excelnobleza.com.mx</value>
      </setting>
    </ControlResiduosPeligrosos.Properties.Settings>
  </userSettings>
</configuration>