<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ControlResiduosPeligrosos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <connectionStrings>
    <add name="ProduccionConexionDebug" providerName="MySql.Data.MySqlClient" connectionString="server=192.168.1.248;port=3306;database=ProductionDebug;uid=root;password=hsj43295;sslmode=None;" />
    <add name="ProduccionConexion" providerName="MySql.Data.MySqlClient" connectionString="server=192.168.1.248;port=3306;database=Production;uid=root;password=hsj43295;sslmode=None;" />
  </connectionStrings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.EntityFramework" />
    </providers>
  </entityFramework>

  <userSettings>
    <ControlResiduosPeligrosos.Properties.Settings>
      <setting name="CorreoReceptorSalidas" serializeAs="String">
        <value>dtellez</value>
      </setting>
      <setting name="DominioCorreo" serializeAs="String">
        <value>@excelnobleza.com.mx</value>
      </setting>
      <setting name="Tema" serializeAs="String">
        <value>Office 2010 - Silver</value>
      </setting>
    </ControlResiduosPeligrosos.Properties.Settings>
  </userSettings>


  <runtime>


    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">


      <dependentAssembly>


        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-8.0.19.0" newVersion="8.0.19.0" />


      </dependentAssembly>


    </assemblyBinding>


  </runtime>
</configuration>