<div class="outlet-content">
  <div fxLayout="column" fxFlex="100%" fxFlexFill fxLayoutAlign="center center">

    <mat-spinner *ngIf="loading" [mode]="'indeterminate'"></mat-spinner>
    <mat-card *ngIf="!loading" fxLayout="column" class="mat-elevation-z20 card">

      <img mat-card-image fxFlex="100%" src="assets/logocol.svg">

      <mat-card-header>
        <mat-card-title>Bienvenido</mat-card-title>
        <mat-card-subtitle>Para continuar, por favor ingrese sus credenciales</mat-card-subtitle>
      </mat-card-header>


      <mat-divider [inset]="true">
      </mat-divider>
      <mat-card-content fxLayout="column">
        <mat-form-field>
          <input matInput [(ngModel)]="userLogin.username" placeholder="Correo Electronico">
        </mat-form-field>

        <mat-form-field>
          <input type="password" [(ngModel)]="userLogin.password" matInput placeholder="Contraseña">
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions fxLayoutAlign="space-around center">
        <button color="primary" (click)="login()" mat-raised-button>
          <mat-icon>person</mat-icon>
          Entrar
        </button>
      </mat-card-actions>

    </mat-card>
  </div>
</div>
