@import '~@angular/material/theming';
@include mat-core();
@import 'styles/styles-scrollbar.scss';
@import 'styles/styles-custom-mat-card.scss';
@import 'styles/styles-loader.scss';
@import 'styles/styles-variables.scss';


$light-app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
$dark-app-theme: mat-dark-theme($app-dark-primary, $app-dark-accent, $app-dark-warn);
@include angular-material-theme($dark-app-theme);
@include customMatCard($dark-app-theme);
@include Loader($dark-app-theme);
@include scrollbar($dark-app-theme);
.lt {
  @include angular-material-theme($light-app-theme);
  @include customMatCard($light-app-theme);
  @include Loader($light-app-theme);
  @include scrollbar($light-app-theme);
  .logo {
    filter: opacity(55%);
  }
}

@media print {
  body,
  html {
    transition: none !important;
    * {
      transition: none !important;
    }
  }
  .noprinted {
    display: none !important;
  }
  .mat-sidenav-content {
    margin: 10px !important;
  }
  .flatprint {
    box-shadow: none !important;
    border: 1px solid #555;
  }
  .mat-drawer-container {
    background-color: white !important;
  }
  .closeButton {
    @extend .noprinted;
    // display: none !important;
  }
  .onlyprint {
    display: block !important;
  }
  .autoOverflow {
    overflow: initial;
  }
}

.onlyprint {
  display: none;
}

.autoOverflow {
  overflow: auto;
}

.chart-container {
  position: relative;
  height: 300px;
  width: 100%;
}
.full-screen-dialog {
  &-container {
    @extend %no-padding-media;
    position: relative;
    padding: 20px;
    .closeButton {
      position: fixed !important;
      top: 10px;
      right: 10px;
    }
    .mat-card.mat-card-theme {
      padding: 0px !important;
      margin: 0px !important;
    }

  }
}
@media screen and (max-width: 959px) {
  %no-padding-media{
    padding: 0px !important;
  }
}

.logo {
  position: fixed;
  height: 70px;
  width: auto;
  right: 10px;
  bottom: 10px;
  z-index: -999;
  filter: opacity(20%);
}

%absolutePosition {
  position: absolute !important;
}

.closeButton {
  @extend %absolutePosition;
  top: -20px;
  right: -20px;
}
.back-button {
  @extend %absolutePosition;
  top: -36px;
  left: 0px;
}
.relleno {
  flex: 1 1 auto;
}
router-outlet ~ * {
  @extend %absolutePosition;
  height: 100%;
  width: 100%;
  margin-top: 10px !important;
}
.outlet-content {
  @extend %no-padding-media;
  margin: 0px 40px 0px 40px;
}
$list: 5 10 15 20 25 30 35 40 45 50;

@each $i in $list {
  .end-wrap-#{$i} {
    > :last-child {
      margin-right: #{$i}px;
    }
  }
}
