<AuthorizeView Roles="User">
    <Authorized>
        <!-- Sidebar user (optional) -->
        <div class="user-panel pb-2 pt-2 m-0 d-flex">
            <div class="image">
                <img src="@context.User.Claims.FirstOrDefault(u => u.Type == "ImageProfile")?.Value" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="Identity/Account/Manage" class="d-block">@context.User.Claims.FirstOrDefault(u => u.Type == "NombreCompleto")?.Value</a>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <!-- Sidebar user (optional) -->
        <div class="user-panel pb-2 pt-2 m-0 d-flex">
            <div class="image">
                <img src="@context.User.Claims.FirstOrDefault(u => u.Type == "ImageProfile")?.Value" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="/" class="d-block">@context.User.Claims.FirstOrDefault(u => u.Type == "NombreCompleto")?.Value</a>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>
