@*@implements IDisposable*@
@inject NavigationManager nm
@inject IJSRuntime JS
@inject NavigationManager NavigationManager
    <!-- Sidebar Menu -->
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column nav-compact nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
        <NavLinkLTE href="" Match="NavLinkMatch.All" Icon="mdi mdi-apps" Title="Tablero"></NavLinkLTE>
        <!-- Menu de Variables Criticas -->
        <SideBarTreeView Icon="mdi mdi-file-table" Href="/variablescriticas" Title="Variables Criticas">
            <Items>
                <NavLinkLTE href="/variablescriticas/ver" Icon="mdi mdi-eye" Title="Ver"></NavLinkLTE>
                <AuthorizeView Policy="IsRoot">
                    <Authorized>
                        <NavLinkLTE href="/variablescriticas/crear_editar" Icon="mdi mdi-cog" Title="Ver"></NavLinkLTE>
                        <NavLinkLTE href="/variablescriticas/asignar_ot" Icon="mdi mdi-cog" Title="Ver"></NavLinkLTE>
                    </Authorized>
                </AuthorizeView>
            </Items>
        </SideBarTreeView>

        <AuthorizeView Policy="IsRoot">
            <Authorized>
                <!-- Menu de Recursos -->
                <SideBarTreeView Icon="mdi mdi-folder-cog" Href="/recursos" Title="Recursos">
                    <Items>
                        <NavLinkLTE href="/recursos/maquinas" Icon="mdi mdi-cog" Title="Maquinas"></NavLinkLTE>
                    </Items>
                </SideBarTreeView>
            </Authorized>
        </AuthorizeView>
    </ul>
</nav>
