<!doctype html>
<html lang="es">
<head>

    <title>@ViewBag.Title - ExcelNobleza</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Icons -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="~/assets/vendors/materialDesignIcons/css/materialdesignicons.min.css" />

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" />

    <!-- plugins -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/overlayScrollbars/css/OverlayScrollbars.css" />
    <link rel="stylesheet" href="~/AdminLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css" />

    <!-- mediaSize -->
    <link rel="stylesheet" href="~/css/sizeResponsive/sizing.css" />

    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE/css/scss/adminlte.css" />

</head>
<body class="hold-transition sidebar-mini layout-navbar-fixed layout-fixed">


    @RenderBody()

    <!-- REQUIRED SCRIPTS -->
    <script src="~/AdminLTE/plugins/jquery/jquery.js"></script>
    <script src="~/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/AdminLTE/plugins/overlayScrollbars/js/jquery.overlayScrollbars.js"></script>
    <script src="~/AdminLTE/js/adminlte.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
