@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmación para recuperar contraseña";
    ViewData["subTitle"] = "Por favor, revice su correo para recuperar la contraseña.";
}

<div class="login-page">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="d-flex align-items-center justify-content-between">
                <button type="button"
                        class="btn btn-primary btn-sm btn-flat"
                        onclick="history.back()">
                    <span class="mdi mdi-arrow-left"></span>
                </button>
                <a href="/" class="btn btn-primary btn-sm btn-flat">
                    <span class="mdi mdi-home"></span>
                </a>
            </div>
            <div class="card-header m-0 mr-1 p-0 row d-flex align-items-center">
                <div class="col">
                    <h5 class="mb-0 col text-center">@ViewData["Title"]</h5>
                    <p class="text-muted">@ViewData["subTitle"]</p>
                </div>
                <img src="~/assets/images/p-120x120.png" style="width:100px; height:auto" class="place-right mt-4-minus mr-0">
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
</div>



