@import '~@angular/material/theming';
@include mat-core();
@import 'styles/variables.scss';
@import 'styles/materialIcons.scss';
@import 'styles/matCardAvatar.scss';

@include angular-material-theme($app-theme);
@include CardAvatar($app-theme);
@include MaterialIcons();

* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// margin: 0px;
  // min-height: 100%;
  // min-width: 100%;
  // width: 100%;
  .mat-tab-body-wrapper {
    height: 100%;
  }


input {
  -webkit-user-select: auto !important;
  -khtml-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  user-select: auto !important;
}

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

$list: 5 10 15 20 25 30 35 40 45 50;
@each $i in $list {
  .end-wrap-#{$i} {
    > :last-child {
      margin-right: #{$i}px;
    }
  }
}
.mat-form-field .mat-form-field-infix {
  width: auto !important;
}

@media screen and (max-width: 959px) {
  %no-padding-media {
    padding: 0px !important;
  }
}

router-outlet ~ * {
  //height: calc(100% - 60px);
  flex-direction: column;
  // display: flex;
  // flex-basis: 100%;
  flex: 1 1 100%;
  // box-sizing: border-box;
  // max-height: 100%;
  // margin-top: 10px !important;
}
.outlet-content {
  @extend %no-padding-media;
  margin: 0px 40px 0px 40px;
}
